{{#section 'title'}}
    Reset Password
{{/section}}

{{#section 'content'}}
<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">
        <form method="POST" action="/auth/reset-password-code">
            <div class="form-group">
                <label for="phoneCodeInput">Phone Code</label>
                <input type="text" name="phoneCode" class="form-control" id="phoneCodeInput" placeholder="Phone code" {{#if old}} value="{{old.phoneCode}}"{{else if item}}value="{{item.phoneCode}}" {{/if}}>
                {{#if errors}} <span class="text-danger">{{errors.phoneCode.msg}}</span> {{/if}}
            </div>

            <div class="form-group">
                <label for="phoneInput">Phone Number</label>
                <input type="text" name="phone" class="form-control" id="phoneInput" placeholder="Phone Number" {{#if old}} value="{{old.phone}}"{{else if item}}value="{{item.phone}}" {{/if}}>
                {{#if errors}} <span class="text-danger">{{errors.phone.msg}}</span> {{/if}}
            </div>

            <div class="form-group">
                <label for="codeInput">Verification Code</label>
                <input name="code" type="text" class="form-control" id="codeInput" placeholder="Reset Code" autocomplete="off">
                {{#if errors}} <span class="text-danger">{{errors.code.msg}}</span> {{/if}}
            </div>

            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                {{#if errors}} <span class="text-danger">{{errors.password.msg}}</span> {{/if}}
            </div>

            <div class="form-group">
                <label for="confirmPasswordInput">Confirm Password</label>
                <input name="confirmPassword" type="password" class="form-control" id="confirmPasswordInput"
                       placeholder="Re-enter your password here">
                {{#if errors}} <span class="text-danger">{{errors.confirmPassword.msg}}</span> {{/if}}
                <span class="text-danger" id="confirmPasswordInputNotSame"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
        <div id="resendCodeContent" class="mt-2">

        </div>
    </div>
</div>
{{/section}}

{{#section 'script'}}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let form = '<a class="btn p-0 fw-bold text-secondary" href="/auth/reset-password">Resend Code</a>\n' +
                    '       <span>, if you haven\'t got yet.</span>'
            let sec=60
            setTimeout(count, 1000)
            function count(){
                sec--
                if(sec>0){
                    document.querySelector('#resendCodeContent').innerHTML = `You should get code within ${sec}s`
                    setTimeout(count, 1000);
                }else{
                    document.querySelector('#resendCodeContent').innerHTML = form
                }

            }
        });
    </script>
{{/section}}