{{#section 'title'}}
    Profile
{{/section}}

{{#section 'content'}}
<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">
        <ul>
            <li class="list-unstyled">Name: {{firstName}} {{lastName}}</li>
            <li class="list-unstyled">Email: {{email}}</li>
            <li class="list-unstyled">Phone: {{phoneCode}}{{phone}}</li>
        </ul>
    </div>
</div>
{{/section}}